.vs
SuitSupply.MarsRover/bin
SuitSupply.MarsRover/obj
SuitSupply.MarsRover.Test/obj
SuitSupply.MarsRover.Console/obj
SuitSupply.MarsRover.WebApi/bin
SuitSupply.MarsRover.WebApi/obj
SuitSupply.MarsRover.Console/bin
SuitSupply.MarsRover.Test/bin
